# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# env
.env.local
.env
#api
#setup
Configuration
AWS S3 Storage
Create an AWS Account: If you don't already have an AWS account, create one at AWS.
Create S3 Bucket: Create an S3 bucket in your AWS account.
Pinecone API
Create Pinecone Account: If you don't have a Pinecone account, create one at Pinecone.
Get Pinecone API Key: Obtain your Pinecone API key from your Pinecone account.
Environment Variables
Set the following environment variables in a .env file or your system environment.



npm i 
npm run dev
